/Tarea01-BarrantesAnthony-CabreraSamir/videoDemostrativo.MP4 filter=lfs diff=lfs merge=lfs -text
/entregas/Tarea01-BarrantesAnthony-CabreraSamir.zip filter=lfs diff=lfs merge=lfs -text
/Tarea-02/Doc/VideoExplicativo.mp4 filter=lfs diff=lfs merge=lfs -text
